<html>

<head>
    <title>Dojo Survey</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <h1>Registration Form</h1>
    <form action='/result' method='post'>

        <label for="email">Email:</label><input type="text" name="email" value="{{session['email']}}">

        <label for="first_name">First Name:</label><input type="text" name="first_name" value="{{session['first_name']}}">

        <label for="last_name">Last Name:</label><input type="text" name="last_name" value="{{session['last_name']}}">

        <label for="birth_date">Birth Date (MM/DD/YYYY):</label><input type="text" name="birth_date" value="{{session['birth_date']}}">

        <label for="password">Password:</label><input type="password" name="password" value="{{session['password']}}">

        <label for="password2">Confirm Password:</label><input type="password" name="password2" value="{{session['password2']}}">

        <input type='submit' value='Submit'>
    </form>
    <div class="errors">
        {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
        <p>{{message}}</p>
        {% endfor %} {% endif %} {% endwith %}
    </div>

</body>

</html>
