<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Delete this Course</title>
  </head>
  <body>
    <h2>Are you sure you what to delete the following course?</h2>
    <table>
      <tr>
        <td>Name:</td>
        <td>{{ course.name }}</td>
      </tr>
      <tr>
        <td>Description:</td>
        <td>{{ course.description.content }}</td>
      </tr>
    </table>
    <a href="/">No</a>
    <form class="" action="/courses/delete/{{ course.id }}" method="post">
      {% csrf_token %}
      <input type="submit" name="" value="Yes I want to delete this course!">
    </form>
  </body>
</html>
