<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'course/css/style.css' %}">
        <title>Remove Course</title>
    </head>
    <body>
        <h3>Are you sure you want to delete the following course?</h3>
        <p>Name: {{course_info.name}}</p>
        <p>Description: {{course_info.description}}</p>
        <a href="/"><button>No</button></a>
        <a href="/remove/{{ course_info.id }}"><button>Yes, remove this course!</button></a>
    </body>
</html>
