#wrapper{
    width: 500px;
    border: 2px solid black;
    padding: 20px;
    margin: auto;
}

#alert{
    width: 520px;
    margin: 10px auto;
    border: 2px solid darkgreen;
    background-color: lightgreen;
    color: green;
    padding: 10px;
}

.left{
    width: 40%;
    display: inline-block;
}

.right{
    width: 50%;
    display: inline-block;
}

.center{
    text-align: center;
}
