label{
    vertical-align: top;
}

table{
    border-collapse: collapse;
    margin: 20px;
}

th,td{
    border: 1px solid black;
    padding: 5px;
}

th{
    background-color: lightgrey;
}

.left{
    width: 100px;
    display: inline-block;
}

.right{
    width: 200px;
    display: inline-block;
}
