<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login to FriendFace</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="script/javascript" href="">
</head>

<body>
    <div id="header">
        <div id="logo" class="inline">FriendFace</div>
    </div>
    <div id="main">
        <div class="postbox border rounded">
            <div class="login">
                <div class="head">
                    <h4>Login to FriendFace</h4>
                    <form action="/login" method="post"><label for="email">Email:</label><input type="email" name="email">
                        <label for="password">Password:</label><input type="text" name="password">
                        <input type="submit" value="Login" class="rounded"></form>
                </div>
            </div>
            <div class="signup">
                <div class="head">
                    <h4>Signup for FriendFace</h4>
                    <form action="/signup" method="post"><label for="email">Email:</label><input type="text" name="email">
                        <label for="password">Password:</label><input type="text" name="password">
                        <label for="password2">Confirm Password:</label><input type="text" name="password2">
                        <label for="first_name">First Name:</label><input type="text" name="first_name">
                        <label for="last_name">Last Name:</label><input type="text" name="last_name">
                        <input type="submit" value="Signup" class="rounded"></form>
                </div>

            </div>
        </div>
    </div>
    <div id="footer">
        <p>&copy; 2016 John Truong and Michael Gifford</p>
    </div>
</body>

</html>
<div id="footer"></div>
</body>

</html>
